*{
	margin: 0;
	padding: 0;
	
}

body{
	font-family: 'Poppins', sans-serif;
}

.top-menu{
	height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    flex-direction: row;
}

.top-menu .social-media {
	height: 20px;
    display: flex;
}

.top-menu .social-media p {
	font-size: 14px;
}

.top-menu .social-media p img {
	width: 11px;
    height: 11px;
}

.top-menu .social-media a img {
	width: 20px;
	height: 20px;
}

.top-menu .social-media .yt {
	  margin-right: 10px;
}

.top-menu .social-media .ig {
	margin-left: 10px;
}

.menu {
	height: 60px;
    background-color: #333;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu .logo {
	width: 95px;
    height: auto;
	position: relative;
    left: 20px;
}

.menu ul {
	margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
}

.menu ul li {
   	padding: 17.2px;
    display:block;
}

.menu ul li a {
	color: #fff;
    text-decoration: none;
    font-weight: 400;
}

.menu ul li:hover {
	background-color: #00CFB4;
}

.menu .search-box{
	display: flex;
    position: relative;
    right: 20px;
    height: 25px;
    align-items: center;
}

.menu .search-box .buscador {
	position: relative;
    height: 25px;
    border: none;
    text-indent: 5px;
    border-radius: 3px;
}

.menu .search-box .buscador:focus-visible {
    outline: none;
}

.menu .search-icon{
	width: 20px;
    height: 20px;
    position: relative;
    margin-left: 10px;
}

.carouselPrincipal {
	width: 100%;
    max-height: 600px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 20px;
}

.carouselPrincipal img {
    max-width: 60%;
    height: auto;
    object-fit: cover;
}

.carouselPrincipal h1 {
	position: absolute;
    color: #fff;
    text-align: center;
    line-height: 1;
    font-size: 30px;
    top: 80px;
}

.carouselPrincipal .logo-banner {
    position: absolute;
    max-width: 300px;
    min-width: 160px;
    top: 140px;
    animation: heartBeat;
    animation-duration: 12s;
    --animate-repeat: 2;
}

.containerAnnounces {
	display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    top: 80px;
    background-color: #eee;
    min-height: 300px;
    height: 500px;
}

.sectionTitle {
	width: 100%;
    text-align: center;
    height: 60px;
    position: relative;
    top: 40px;
    font-size: 35px;
}

.containerAnnounces .announce {
    width: 300px;
    height: 300px;
    padding: 15px;
}

.containerAnnounces .announce img {
	width: 100%;
    height: 100%;
    object-fit: cover;
}

.containerAnnounces .announce img:hover{
	transform: scale(1.02,1.02);
}

.containerAnnounces .announce h2 {
	text-align: center;
    font-size: 15px;
}

.containerMatches {
    position: relative;
    top: 80px;
    height: 80vh;
}

.containerMatches .matches--title {
	position: relative;
    top: 40px;
    margin-left: 183px;
    font-weight: 400;
}

.containerMatches .matches--title span {
	color: #00CFB4;
}

.containerMatches .liveMatch {
	width: 80%;
    height: 100px;
    display: flex;
    background-color: #808080;
    margin: 0 auto;
    position: relative;
    top: 50px;
    border: 6px solid rgb(228 228 228 / 90%);
}

.containerMatches .liveMatch .infoMatch {
    display: flex;
    width: 100%;
    height: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    background-color: #eee;
    align-content: center;
}

.containerMatches .liveMatch .infoMatch .date-game {
	margin-left: 15px; 
}

.containerMatches .liveMatch .infoMatch .date-game span {
	color: #00CFB4;
}

.containerMatches .infoMatch .cup {
	margin-right: 15px; 
}

.containerMatches .liveMatch .matchContent {
    width: 100%;
    height: 80px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.containerMatches .liveMatch .matchContent .matchTime {
	margin-left: 15px;
    display: flex;
    align-items: center;
}

.containerMatches .liveMatch .matchContent .matchTime span {
	font-size: 15px;
}

.containerMatches .liveMatch .matchContent .vsMatch {
	display: flex;
	margin-right: 100px;
}

.containerMatches .liveMatch .matchContent .vsMatch img {
	width: 55px;
}

.containerMatches .liveMatch .matchContent .vsMatch span {
	align-items: center;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
}

.containerMatches .liveMatch .matchContent .btn-watch {
	position: relative;
    display: flex;
    align-items: center;
}

.containerMatches .liveMatch .matchContent .btn-watch a {
	padding: 15px 40px;
    color: #fff;
    text-decoration: none;
    background-color: red;
    border-radius: 4px;
    position: absolute;
    right: 15px;
}

.containerMatches .container--title {
	display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    justify-content: space-between;
    top: 70px;
    position: relative;
}

.containerMatches .container--title .matches--title {
	top:0;
}

.containerMatches .container--title .prevMatches-title {
	margin-right: 183px;
}

.containerMatches .matches {
    display: grid;
    grid-template-columns: auto auto;
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: 80px;
    justify-content: space-between;
}

.containerMatches .matches .nextMatches {
	width: 730px;
    background-color: #808080;
    border: 6px solid rgb(228 228 228 / 90%);
    height: 100px;
    margin-bottom: 25px;
}
.containerMatches .matches .nextMatches .infoMatch {
	display: flex;
    width: 730px;
    height: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    background-color: #eee;
    align-content: center;
}

.containerMatches .matches .nextMatches .infoMatch .date-game {
	margin-left: 15px; 
}

.containerMatches .matches .nextMatches .infoMatch .date-game span {
	color: #00CFB4;
}

.containerMatches .matches .nextMatches .matchContent {
	width: 730px;
    height: 80px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.containerMatches .matches .nextMatches .matchContent .matchTime {
	margin-left: 15px;
    display: flex;
    align-items: center;
}

.containerMatches .matches .nextMatches .matchContent .matchTime span {
	font-size: 15px;
}

.containerMatches .matches .nextMatches .matchContent .vsMatch {
    display: flex;
    margin-right: 100px;
}

.containerMatches .matches .nextMatches .matchContent .vsMatch img {
	width: 55px;
}

.containerMatches .matches .nextMatches .matchContent .vsMatch span {
	align-items: center;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
}

.containerMatches .matches .nextMatches .matchContent .btn-watch {
	position: relative;
    display: flex;
    align-items: center;
}

.containerMatches .matches .nextMatches .matchContent .btn-watch a {
	padding: 15px 40px;
    color: #fff;
    text-decoration: none;
    background-color: red;
    border-radius: 4px;
    position: absolute;
    right: 15px;
}

.containerMatches .matches .results {
	width: 730px;
    background-color: #808080;
    border: 6px solid rgb(228 228 228 / 90%);
    height: 100px;
    margin-bottom: 25px;
}

.containerMatches .matches .results .infoMatch {
	display: flex;
    width: 730px;
    height: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    background-color: #eee;
    align-content: center;
}

.containerMatches .matches .results .infoMatch .date-game {
	margin-left: 15px; 
}

.containerMatches .matches .results .infoMatch .date-game span {
	color: #00CFB4;
}

.containerMatches .matches .results .matchContent {
	width: 730px;
    height: 80px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.containerMatches .matches .results .matchContent .matchTime {
	margin-left: 15px;
    display: flex;
    align-items: center;
}

.containerMatches .matches .results .matchContent .matchTime span {
	font-size: 15px;
}

.containerMatches .matches .results .matchContent .vsMatch {
    display: flex;
    margin-right: 100px;
}

.containerMatches .matches .results .matchContent .vsMatch img {
	width: 55px;
}

.containerMatches .matches .results .matchContent .vsMatch span {
	align-items: center;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
}

.containerMatches .matches .results .matchContent .btn-watch {
	position: relative;
    display: flex;
    align-items: center;
}

.containerMatches .matches .results .matchContent .btn-watch a {
	padding: 15px 40px;
    color: #fff;
    text-decoration: none;
    background-color: red;
    border-radius: 4px;
    position: absolute;
    right: 15px;
}

.containerImagenes{
	display: grid;
	grid-template-columns: 14% 14% 14% 14%;
    justify-content: center;
    top: 40px;
    position: relative;
    grid-row-gap: 15px;
}

.containerImagenes .image{
	width: 250px;
	height: 250px;
}

.containerImagenes .image img{
	width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 767px){
	.containerImagenes{
		grid-template-columns: 80%;
		grid-gap: 20px;
	}
	.containerImagenes .image{
	width: 300px;
	height: 300px;
}
}

.carouselNosotros {
	width: 100%;
    max-height: 600px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 20px;
}

.carouselNosotros img {
    max-width: 60%;
    height: auto;
    object-fit: cover;
}

.carouselNosotros h1 {
	position: absolute;
    color: #fff;
    text-align: center;
    line-height: 1;
    font-size: 30px;
    top: 230px;
}

.carouselNosotros .logo-banner {
    position: absolute;
    max-width: 300px;
    min-width: 160px;
    top: 265px;
    animation: heartBeat;
    animation-duration: 12s;
    --animate-repeat: 2;
}

.history{
	width: 100%;
	height: 85vh;
	position: relative;
    top: 60px;
    background-color: #eee;
    padding: 20px;
}

.history h1{
	text-align: center;
}

.history h1 span{
	color: #00CFB4;
}

.history p {
	padding: 10px 30px;
    width: 70%;
    margin: 0 auto;
}

.indumentaria{
	color: #00CFB4;
	text-align: center;
    font-weight: 400;
    position: relative;
    top: 45px;
}

.containerProductos{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	position: relative;
    top: 55px;
}


.containerProductos .image {
	width: 220px;
    height: 330px;
    padding: 10px;
}

.containerProductos .image img {
    width: 100%;
}

.seccionAccesorios {
	background-color: #eee;
    height: 49vh;
    position: relative;
    top: 65px;
}

.accesorios{
	color: #00CFB4;
	text-align: center;
    font-weight: 400;
    position: relative;
    top: 30px;
}

.containerAccesorios{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	position: relative;
    top: 40px;
}
.containerAccesorios .image {
	width: 220px;
    height: 330px;
    padding: 10px;
}
.containerAccesorios .image img {
    width: 100%;
}

.containerProductos .image a img:hover{
	transform: scale(1.02,1.02);
}

.containerAccesorios .image a img:hover{
	transform: scale(1.02,1.02);
}

.form body{
	background:#59ABE3;margin:0
}
.form {
	width: 590px;
    height: 430px;
    background: #eee;
    border-radius: 8px;
    box-shadow: 0 0 20px -10px #000;
    margin: calc(35vh - 220px) auto;
    padding: 20px 30px;
    max-width: calc(100vw - 40px);
    box-sizing: border-box;
    position: relative;
}
.form h2 {
	margin:10px 0;
	padding-bottom:10px;
	width:180px;
	color:#78788c;
	border-bottom:3px solid #78788c;
}
.form input {
	width:100%;
	padding:10px;
	box-sizing:border-box;
	background:none;
	outline:none;
	resize:none;
	border:0;
	font-family:'Montserrat',sans-serif;transition:all .3s;
	border-bottom:2px solid #bebed2
}
.form input:focus {
	border-bottom:2px solid #78788c
}
.form p:before {
	content:attr(type);
	display:block;
	margin:28px 0 0;
	font-size:14px;
	color:#5a5a5a
}
.form button{
	float:right;
	padding:8px 12px;
	margin:8px 0 0;
	border:2px solid #78788c;
	background:0;
	color:#5a5a6e;
	cursor:pointer;
	transition:all .3s
}
.form button:hover {
	background:#78788c;
	color:#fff
}
.form div {
	content: 'Hi';
    position: absolute;
    bottom: -15px;
    right: 130px;
    background: #50505a;
    color: #fff;
    width: 320px;
    padding: 16px 4px 16px 0;
    border-radius: 6px;
    font-size: 13px;
    box-shadow: 10px 10px 40px -14px #000;
}
.form span{
	margin:0 5px 0 15px
}